* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 25px;
  position: relative;
}


header {
  margin: 30px auto;
  width: 200px;
}

.start-popup {
  /* display: none; */
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 80px;
  left: calc(50% - 385px);
  width: 760px;
  height: 760px;
  z-index: 2;
  border-radius: 10%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);

  text-align: center;
  font-size: 50px;
}

.start-popup p {
  display: inline-block;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin-top: 80px;
}

.player1-name, .player2-name {
  font-size: 50px;
  width: 500px;
  height: 50px;
  vertical-align: top;
  text-align: center;
  margin: 0 auto;
  background-color: transparent;
}

.start-button {
  /* margin-top: 200px; */
  width: 100px;
  height: 50px;
  font-size: 50px;
  position: absolute;
  left: 330px;
  bottom: 50px;
  background-color: transparent;
}

.overlay {
  /* display: none; */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .5);
}

main {
  display: flex;
}

.space {
  margin: 0 auto;
  background: url(../image/omok.jpg) no-repeat;
  background-size: contain;
  width: 760px;
  height: 760px;
  border-spacing: 0px;
  text-align: center;
  vertical-align: center;
}

.space td {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  line-height: 35px;
}

.black-circle{
  /* display:inline-block; */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  border-radius: 50%;
  background: #000;
}

.white-circle{
  display:inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
}



.player-1-panel {
  width: 200px;
  height: 760px;
  background-color: rgb(222, 221, 219);
  /* #003458; */
  color: white;
}

.player-2-panel {
  width: 200px;
  height: 760px;
  background-color: rgb(188, 180, 178);
  color: white;
}

.player-name {
  font-size: 40px;
  text-align: center;
}

.player-score {
  text-align: center;
  font-size: 80px;
}

.active {background-color: #660000; }
.active .player-name {
  font-size: 40px;
  /* font-weight: 500; */
}

.btn-new {
  width: 200px;
  left: 50%;
  height: 50px;
  background-color: lightgrey;
  color: white;
  font-size: 20px;
  border: none;
}

footer {
  font-size: 15px;
  margin: 10px auto;
  width: 300px;
}