* {
  box-sizing: border-box;
  border: none;
  padding: 0;
  margin: 0;
}

body {
  font-size: 25px;
}

header {
  margin: 30px auto;
  width: 200px;
}

main {
  display: flex;
}

.space {
  margin: 0 auto;
  background: url(../image/omok.jpg) no-repeat;
  background-size: contain;
  width: 760px;
  height: 760px;
  border-spacing: 0px;
  text-align: center;
  vertical-align: center;
}

.space td {
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  vertical-align: top;
  line-height: 35px;
}

.black-circle{
  /* display:inline-block; */
  width: 100%;
  height: 100%;
  /* border: 1px solid #000; */
  border-radius: 50%;
  background: #000;
}

.white-circle{
  display:inline-block;
  width: 100%;
  height: 100%;
  border: 1px solid #fff;
  border-radius: 50%;
  background: #fff;
}



.player-1-panel {
  height: 760px;
  background-color: rgb(222, 221, 219);
  /* #003458; */
  color: white;
}

.player-2-panel {
  height: 760px;
  background-color: rgb(188, 180, 178);
  color: white;
}

.player-name {
  font-size: 40px;
  text-align: center;
}

.player-score {
  text-align: center;
  font-size: 80px;
}

.active {background-color: #660000; }
.active .player-name {
  font-size: 40px;
  /* font-weight: 500; */
}

.btn-new {
  width: 200px;
  left: 50%;
  height: 50px;
  background-color: lightgrey;
  color: white;
  font-size: 20px;
  border: none;
}

footer {
  font-size: 15px;
  margin: 10px auto;
  width: 300px;
}